/* * {
  border: 0.5px solid black;
} */

body {
  color: white;
  background-color: dimGray;
}

span {
  font-size: 50px;
}

.top-box {
  display: flex;
}

.center {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.left-side {
  width: 33.3%;
}

.right-side {
  width: 33.3%;
  text-align: center;
}

.race-box {
  background-image: url(../Images/road.png);
  background-size: contain;
  margin-left: 0;
  margin-right: 0;
}

.player-racer {
  padding-left: 25px;
}

.computer-racer {
  padding-left: 25px;
}

.car {
  height: 40px;
  width: 80;
}

.word-display {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.output-message {
  text-align: center;
}
