/* * {
  border: 0.5px solid black;
} */

@font-face {
  font-family: FerroRossoimport;
  src: url("../Fonts/FerroRosso.ttf");
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #343638;
  font-family: sans-serif;
}

span {
  font-size: 50px;
  padding-left: 1px;
  padding-right: 1px;
  font-family: sans-serif;
  letter-spacing: 0px;
}

h2 {
  font-size: 50px;
}

.button-start {
  background-color: #e5c100;
  border-top: 0.5px solid white;
  border-left: 0.5px solid white;
  border-right: 0.5px solid dimGray;
  border-bottom: 0.5px solid dimGray;
  box-shadow: 0.5px 0.5px 1px 1px grey;
  border-radius: 5px;
  font-size: 30px;
  padding: 5px 30px;
  color: white;
  text-shadow: 1px 1px dimGray;
  font-family: helvetica;
}

.top-box {
  display: flex;
}

.center {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.main-title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: FerroRossoimport;
  font-size: 70px;
  letter-spacing: 3px;
}

.left-side {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 20px;
}

.time-box {
  border: 1px solid #e5c100;
  border-radius: 5px;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.word-time {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e5c100;
}

.timer {
  font-size: 25px;
}

.right-side {
  width: 33.3%;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 30px;
  padding-top: 10px;
  text-align: justify;
  border: 1px solid #e5c100;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.box1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e5c100;
}

.box2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.box3 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #e5c100;
}

.race-box {
  background-image: url(../Images/road.png);
  background-size: contain;
  margin-left: 0;
  margin-right: 0;
  margin-top: 40px;
}

.player-racer {
  padding-left: 25px;
}

.computer-racer {
  padding-left: 25px;
}

.car {
  height: 40px;
  width: 80px;
}

.word-box {
  height: 100px;
}

.word-display {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.highscores {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 0px 50px;
  padding-bottom: 10px;
  width: 100%;
}

.highscore-title {
  color: #e5c100;
  font-size: 25px;
  margin-top: 0;
  padding-left: 185px;
}

.entries {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}

.first {
  border: 1px solid #c98910;
  box-shadow: 0 0 30px #c98910;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.second {
  border: 1px solid #a8a8a8;
  box-shadow: 0 0 30px #a8a8a8;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.third {
  border: 1px solid #965a38;
  box-shadow: 0 0 30px #965a38;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.fourth {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.fifth {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.one {
  border-bottom: 0.1px solid white;
}
